@model IEnumerable<WebsitePhanPhoiSach.Models.sotienphaitrachonxb>
@{
    ViewBag.Title = "Index";
}
<h2>Số tiền phải cho NXB</h2>
@using (Html.BeginForm("Index", "sotienphaitrachonxb", FormMethod.Get))
{
    <div class="form-inline">
        @Html.Label("Thời điểm")
        <div class="form-group input-group-sm">
            @Html.TextBox("thoidiem", null, new { @class = "form-control datepicker", placeholder = "Chọn ngày tháng năm", autocomplete = "off" })
        </div>
        @*<input type="date" class="form-control"/>*@
        <div class="form-group">
            <div>
                <input type="submit" value="Tìm" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Thời điểm cập nhật")
        </th>
        <th>
            @Html.DisplayName("Số lượng tồn")
        </th>
        
        <th>
            @Html.DisplayName("Tên nhà xuất bản")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.thoidiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sotienphaitra)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.nxb.tennxb)
            </td>
        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/mycustomjquery")
}
